<!DOCTYPE html>
<html>
<head>
  <title>Result</title>
</head>
<body>
  <h1>Extracted Information</h1>
  <p><strong>License Number:</strong> <%= licenseNumber %></p>
  <p><strong>Expiry Date:</strong> <%= expiryDate %></p>
  <p><strong>Name:</strong> <%= name %></p>
  <p><strong>Licence Status:</strong> 
    <% if (isValidLicence) { %>
      <span style="color: green;">Valid <span>&#128077;</span></span>
    <% } else { %>
      <span style="color: red;">Invalid <span>&#128078;</span></span>
    <% } %>
  </p>
  <h2>Uploaded Image</h2>
  <img src="<%= imageUrl %>" alt="Uploaded Image">
  <br>
  <a href="/">Upload another image</a>
</body>
</html>
