<!DOCTYPE html>
<html lang="en">
<head>
<<<<<<< HEAD
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload SIA Licence</title>
</head>
<body>
  <h1>Upload SIA Licence</h1>
  <form ref='uploadForm' 
        id='uploadForm' 
        action='/upload' 
        method='post' 
        encType="multipart/form-data">
      <input type="file" name="image" accept="image/*" capture="camera"/>
      <input type='submit' value='Upload!' />
  </form>
=======
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload SIA License</title>
</head>
<body>
    <h1>Upload SIA License</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" capture="environment" required>
        <button type="submit">Upload</button>
    </form>
>>>>>>> 92da7ef238f1250068890f3f12f7a44db5fee23e
</body>
</html>
